#logo {
	margin: auto;
	display:block;
}

#vidList {
	margin: 0;
	padding: 0;
}

#vidList li {
	cursor: pointer;
	list-style: none;
}

#vidList img {
	margin:8px;
	padding:3px;
	border:1px solid #ccc;
}

#vidList h3 {
	margin-left:10px;
}

#showVideo {
	width: 100%;
	margin:15px 0 15px 0;
}